/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  color: #e90f51;
  font-size: 5em;
}

h2 {
  color: #e90f51;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

a.menuButton {
  padding: 10px;
}

a.menuButton.active {
  color: #fff !important;
  background-color: #e90f51 !important;

}

.title.large {
  max-width: 1000px;
  padding: 0px 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  height: 190px;
  background-image: url("../assets/navigation-background.jpg");
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 60px;
}

section {
  min-height: 600px;
  height:100vh;
}

.navigation {
  padding-top: 11px;
  background-color: #f59a3f;

  position: absolute;
  margin-top: 190px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navigation.fixed{
  position: fixed;
  padding-top: 11px;
  margin-top: 0px;
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}


.navbar {
  /*margin: 0px;
  padding: 0px 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;*/
  margin: 0px;
  padding: 0px 5%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f59a3f;
}

.center.icon {
  width: 140px;
  margin-top: 60px;
}

.on {
  display: flex;
}

.off {
  display: none;
}

.about {
  background-color: #939393;
}

.projects {
  background-color: #d07e7e;
}

.ideas {
  background-color: #eedaa1;
}

.contact {
  background-color: #939393;
}

footer {
  background-color: #939393;
  height: 200px;
}
