/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Mono';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Roboto Mono';
  color: #e90f51;
  font-size: 3em;
}

h2 {
  color: #e90f51;
  font-size: 1.5em;
}

h3 {
	font-size: 3em;
  font-weight: 600;
}

p {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 18px;
}

a {
	color: black !important;
  text-decoration: none;
}

a:visited {
	color: black;
}

a.menuButton {
  padding: 10px;
}

a.menuButtonHome {
  padding: 10px;
}

a.menuButton.active {
  color: #fff !important;
  background-color: #e90f51 !important;
}

header {
  display: flex;
  height: 190px;
  background-image: url("../assets/navigation-background.jpg");
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 60px;
}

section {
	display: flex;
  min-height: 400px;
}

footer {
  background-color: #939393;
  height: 200px;
}

.title {
	margin: 5px 0px;
}

.title.heading {
	margin: 10px 0px;
}

.title.large {
  max-width: 1000px;
  padding: 0px 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  padding-top: 11px;
  background-color: #f59a3f;
  position: absolute;
  margin-top: 190px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navigation.fixed{
  position: fixed;
  padding-top: 11px;
  margin-top: 0px;
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navbar {
  margin: 0px;
  padding: 0px 5%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.hero {
  height:100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: #f59a3f;
}

.mustard {
	color: #FF9933;
}

.caption {
	margin: 0 0 15% 0;
}

.icon {
}

.row.icon {
	margin: 10%;
	max-width: 120px;
}

.clear {
	width: 100%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.center.icon {
	width: 140px;
  margin-top: 25px;
}

.about {
  background-color: #939393;
	flex-direction: column;
	justify-content: center;
  min-height: 90vh;
}

.projects {
	flex-direction: column;
	justify-content: center;
  background-color: #d07e7e;
}

.ideas {
	flex-direction: column;
	justify-content: center;
  background-color: #eedaa1;
}

.contact {
  background-color: #939393;
	flex-direction: column;
	justify-content: center;
  min-height: 80vh;
}


.row {
	margin: 30px 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.box {
	background-color: #e90f51;
	width:20%;
	max-width: 200px;
	height: 20%;
	max-height: 200px;
	display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
	background-color: transparent;
	width: 35%;
  display: flex;
  flex-direction: column;
}

.address_box {
	background-color: transparent;
	width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0 0 0 25px;
}

.social {
  margin: 10px 0px;
  display: flex;
}

.socialicon {
    margin: 10px 20px;
    height: 19px;
    width: auto;
}


/* for fancybox */
.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}

/* styling for detail page */

p.blog {
	font-family: 'Open Sans';
	line-height: 18px;
	font-weight: 300;
	font-size: 16px;
	color: #444;
	margin: 20px 40px;
}

.blog_section {
	flex-direction: column;
	align-items: flex-start;
  background-color: #f59a3f;
}

.navigation_modal {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #f59a3f;
}

.case_study_image {
	max-width: 100%;
	height: auto;
}

.blog_title {
  margin-left: 5%;
}

.display_none {
  display: none;
}

.blog_image {
	min-height: 450px;
	min-width: 100%;
}

.box_caption {
	background-color: #F6F6F6;
}

