/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto Mono';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Roboto Mono';
  color: #e90f51;
  font-size: 3em;
}

h2 {
  color: #e90f51;
  font-size: 1.5em;
}

h3 {
	font-size: 3em;
  font-weight: 600;
}

p {
	font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
}

a {
	color: black ;
  text-decoration: none;
}

a:visited {
	color: black;
}

a.menuButton {
  padding: 10px;
}

 a.menuButtonLink {
  padding: 10px;
  }

a.menuButtonHome {
  padding: 10px;
}

a.menuButtonClose {
  padding: 10px;
}

a.menuButton.active {
  color: #fff;
  background-color: #e90f51;
}

a.active {
  color: #fff ;
  background-color: #e90f51 ;
}

a.mustard {
  color: #FF9933;
}

a.mustard:visited {
  color: #FF9933;
}

.title.bright {
   color: #E90F51;
}

a.light {
  color: #E90F51;
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 14px;
  line-height: 50px;
}

a.menuButton.activeImportant {
  color: #fff !important;
  background-color: #e90f51 !important;
}

.headerBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  display: flex;
  height: 190px;
  background-image: url("../assets/navigation-background.jpg");
   align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 60px;
}

li {
  text-align: center;
}

section {
	display: flex;
  min-height: 400px;
}

footer {
  background-color: #939393;
  height: 20vh;
}

.portrait_box {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
	margin: 5px 0px;
}

.title.large {
  max-width: 1000px;
  padding: 0px 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: #f59a3f;
  position: absolute;
  padding: 11px 0px;
  margin-top: 190px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navigation_home {
  padding: 0px;
}

.navigation.fixed{
  position: fixed;
  margin-top: 0px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navigation_detail {
  display: flex;
  background-color: #f59a3f;
  position: inherit;
  padding: 0px 0px;
  margin-top: 0px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.navbar {
  margin: 0px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.hero {
  height:50vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: #f59a3f;
}

.mustard {
	color: #FF9933;
}

a.mustard {
  color: #FF9933;
}

a.mustard:visited {
  color: #FF9933;
}

.caption {
	margin: 0 5px 15% 5px;
  text-align: center;
}

.icon {
}

.row.icon {
	margin: 10%;
	max-width: 90px;
}

.clear {
	width: 100%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.center.icon {
	width: 140px;
  margin-top: 25px;
}

.about {
  background-color: #939393;
	flex-direction: column;
	justify-content: center;
  min-height: 70vh;
}

.projects {
	flex-direction: column;
	justify-content: center;
  background-color: #d07e7e;
  padding: 50px 0px;
}

.ideas {
	flex-direction: column;
	justify-content: center;
  background-color: #eedaa1;
  padding: 50px 0px;
}

.contact {
  background-color: #939393;
	flex-direction: column;
	justify-content: center;
  min-height: 80vh;
}


.row {
	margin: 30px 70px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

.box {
	background-color: #e90f51;
	width:20%;
	max-width: 200px;
	height: 20%;
	max-height: 200px;
	display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
	background-color: transparent;
	width: 35%;
  display: flex;
  flex-direction: column;
}

.address_box {
	background-color: transparent;
	width: 100%;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0 0 0 25px;
}

.social {
  margin: 10px 0px;
  display: flex;
}

.socialicon {
    margin: 10px 20px;
    height: 19px;
    width: auto;
}


/* for fancybox */
.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}

/* styling for detail page */
h2.heroTextOverlay {
    margin-left: 10%;
    margin-top: 40%;
}

p.blog {
	font-family: 'Open Sans';
	line-height: 18px;
	font-weight: 300;
	font-size: 16px;
	color: #444;
	margin: 10px 10% 40px 10%;
}

a.blog {
  color: #E90F51;
}

ul.blog {
  list-style-type: circle;
  font-family: 'Open Sans';
  line-height: 18px;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  margin: 20px 40px;
}

li.blog {
  text-align: left;
  margin-left: 10%
}

.blog_section {

	flex-direction: column;
	align-items: flex-start;
  background-color: #F6F6F6;
}

.navigation_modal {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #f59a3f;
}

.case_study_image {
	max-width: 100%;
	height: auto;
}

.blog_title {
  margin: 0px;
  padding: 3% 0%;
  position: fixed;
  width: 100vw;
  left: 0;
  background-color: #F59A3F;
}

.blog_title h2 {
  margin: 0px 3%;
}

.display_none {
  display: none;
}

.blog_image {
	min-height: 40vh;
	min-width: 100%;
}

.blog_image_large {
  min-height: 70vh;
  min-width: 100%;
}

.box_caption {
	background-color: #F6F6F6;
  width: 100%;
}

.box_caption.long {
  padding-bottom: 100px;
}

/* media queries */
@media screen and (max-width: 340px){

  h1 {
    font-family: 'Roboto Mono';
    color: #e90f51;
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.3em;
    font-weight: 600;
  }
}

@media screen and (max-width: 533px){
  h2 {
    color: #e90f51;
    font-size: 1em;
    text-align: center;
  }

  .row {
    flex-direction: column;
    margin: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }

  .box {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
  }

  .title.large {
    padding: 0px 10vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px;
  }

  .hero {
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
    max-width: 100%;
  }

  .navigation {
    padding: 12px 0px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;

  }

  .about {
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    padding: 50px 0px;

  }

  .contact {
    flex-direction: column;
    justify-content: center;
    min-height: inherit;
    padding: 50px 0px;
  }

  .box_three,  .box_middle, .box_right{
    width: 40%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 800px){
  .headerBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog_image_large {
    min-height: 40vh;
    min-width: 100%;
  }

  .title.blog_title {
    margin-top: 32px;
    padding: 3% 0%;
    position: fixed;
    width: 100vw;
    left: 0;
    background-color: #F59A3F;
  }

  header {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
  }

  section {
    display: flex;
    margin: 0px 0px;
  }

  h2 {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }

  a.menuButton {
  padding: 14px 10px;
  }

  a.menuButtonLink {
  padding: 14px 10px;
  }

  .display_none {
    display: none;
  }

  .navbar {
    margin: 0px;
    padding: 0px 13px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: flex-end;
  }

  .navigation {
      background-color: #f59a3f;
      position: absolute;
      margin-top: 0px;
      padding: 15px 0px;
      width: 100vw;
      left: 0;
      top: 0;
      z-index: 100;
      border-top: 0;
  }

  .navigation.fixed {
    background-color: #f59a3f;
    position: fixed;
    margin-top: -1px !important;
    padding: 16px 0px;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }

  .center.icon {
    width: 140px;
    margin-top: 45px;
  }


  .address {
    margin: 20px 0px;
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }

  .row-wrap {
    flex-wrap: wrap;
  }

  .row.icon {
    margin: 0%;
    max-width: 120px;
  }

  .box {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
  }

  .box_two {
    width: 100%;
    min-height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin: 0px;
  }

  .text-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px 20px
  }

  .large_title_box {
    background-color: #EC0050;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    margin: 0px;
    padding-left: 30px;
  }

  .title.large {
    margin: 0px 0px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
    max-width: 100%;
  }

  .inner_box {
      background-color: #D07E7E;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      align-items: center;
      margin: 0px 5px 0px 5px;
  }

  .outer_box {
    border: 0px;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    margin: 0px;
  }

  .box_three,  .box_middle, .box_right{
    width: 20%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 20px 0px;
  }

  .fullstory {
    margin-bottom: 10%;
    padding: 10px;
    background-color: #f59a3f;
    color: white;
  }

  .thin_title_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 25px 0px;
    margin: 0px;
  }

  .quotation_width{
    width: 90%;
    margin: 40px 0px 0px 0px;
  }

}



